<%- include('layout/head.ejs') %>
  <body>

    <header class="aboutUsTitle">
      <div>Meet the team</div>
    </header>

    <div class="meetTheTeam">
      <div class="aboutMe melissa">
        <img class="aboutUsImg" src="assets/melissa.jpg" alt="melissa">
        <ul class="aboutUsTextList">
          <li class="aboutUsTextListItem name">Melissa Stock</li>
          <li class="aboutUsTextListItem bio"><p>Ball is life. Catch me outside fam, see what happens. Honestly just in this class for the Dogs</p></li>
          <li class="aboutUsTextListItem favBar"></li>
        </ul>
      </div>

      <div class="aboutMe evan">
        <img class="aboutUsImg" src="assets/evan.jpg" alt="evan">
        <ul class="aboutUsTextList">
          <li class="aboutUsTextListItem name">Evan Pettie</li>
          <li class="aboutUsTextListItem bio"><p>Words of wisdom: The Lord giveth and the Lord Yeeteth away.</p></li>
          <li class="aboutUsTextListItem favBar"></li>
        </ul>
      </div>

      <div class="aboutMe williams">
        <img class="aboutUsImg" src="assets/williams.jpg" alt="williams">
        <ul class="aboutUsTextList">
          <li class="aboutUsTextListItem name">Williams Argenal</li>
          <li class="aboutUsTextListItem bio"><p>Originally from Sweden. Nominee of the Nobel Peace Prize</p></li>
          <li class="aboutUsTextListItem favBar"></li>
        </ul>
      </div>

      <div class="aboutMe kris">
        <img class="aboutUsImg" src="assets/kris.jpg" alt="kris">
        <ul class="aboutUsTextList">
          <li class="aboutUsTextListItem name">Krisjanis Cerbulis</li>
          <li class="aboutUsTextListItem bio"><p>I just want to do CSS, don't know what kind of coffie Java Script even is</p></li>
          <li class="aboutUsTextListItem favBar"></li>
        </ul>
      </div>

      <div class="aboutMe ginger">
        <img class="aboutUsImg" src="assets/ginger.jpg" alt="kris">
        <ul class="aboutUsTextList">
          <li class="aboutUsTextListItem name">Inspiration - Ginger</li>
          <li class="aboutUsTextListItem bio"><p>Sniff sniff, woof (Translation: To be quite frank the politcal climate is too fragile for the working party to propose a refendum)</p></li>
          <li class="aboutUsTextListItem favBar"></li>
        </ul>
      </div>
    </div>
  </body>
  <footer>
  <div class="aboutUsContainer">
    <a href="/">Home</a>
  </div>
Copyright 2019 &copy
</footer>
</html>
