<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styling/reset.css">
    <link rel="stylesheet" href="styling/base.css">
  </head>
  <body>

    <header class="aboutUsTitle">
      <h1>Meet the team</h1>
    </header>

    <div class="meetTheTeam">
      <div class="aboutMe melissa">
        <img class="aboutUsImg" src="assets/melissa.jpg" alt="melissa">
        <ul class="aboutUsTextList">
          <li class="aboutUsTextListItem name">Melissa Stock</li>
          <li class="aboutUsTextListItem bio"><p>Ball is life. Catch me outside fam, see what happens. Honetly just in this class for the Dogs</p></li>
          <li class="aboutUsTextListItem favBar"><a class="barLink" href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>Favorite Bar</a></li>
        </ul>
      </div>

      <div class="aboutMe evan">
        <img class="aboutUsImg" src="assets/evan.jpg" alt="evan">
        <ul class="aboutUsTextList">
          <li class="aboutUsTextListItem name">Evan Pettie</li>
          <li class="aboutUsTextListItem bio"><p>Words of wisdom: The Lord giveth and the Lord Yeeteth away. #VapeNation</p></li>
          <li class="aboutUsTextListItem favBar"><a class="barLink" href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>Favorite Bar</a></li>
        </ul>
      </div>

      <div class="aboutMe williams">
        <img class="aboutUsImg" src="assets/williams.jpg" alt="williams">
        <ul class="aboutUsTextList">
          <li class="aboutUsTextListItem name">Williams Argenal</li>
          <li class="aboutUsTextListItem bio"><p>Originally from Sweeden. Nomenee of the Nobel Piece Prize</p></li>
          <li class="aboutUsTextListItem favBar"><a class="barLink" href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>Favorite Bar</a></li>
        </ul>
      </div>

      <div class="aboutMe kris">
        <img class="aboutUsImg" src="assets/kris.jpg" alt="kris">
        <ul class="aboutUsTextList">
          <li class="aboutUsTextListItem name">Krisjanis Cerbulis</li>
          <li class="aboutUsTextListItem bio"><p>I just want to do CSS, don't know what kind of coffie Java Script even is</p></li>
          <li class="aboutUsTextListItem favBar"><a class="barLink" href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>Favorite Bar</a></li>
        </ul>
      </div>

      <div class="aboutMe ginger">
        <img class="aboutUsImg" src="assets/ginger.jpg" alt="kris">
        <ul class="aboutUsTextList">
          <li class="aboutUsTextListItem name">Inspiration - Ginger</li>
          <li class="aboutUsTextListItem bio"><p>Sniff sniff, woof (Translation: To be quite frank the politcal climate is too fragile for the working party to propose a refendum)</p></li>
          <li class="aboutUsTextListItem favBar"><a class="barLink" href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>Favorite Bar</a></li>
        </ul>
      </div>
    </div>

    <footer class="aboutUsBackButton">
      <a href="/">click me</a>
    </footer>

  </body>
</html>
