<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../styling/reset.css">
    <link rel="stylesheet" href="../styling">
  </head>
  <body>

    <h1> This is the about us page </h1>

    <div class="aboutMe melissa">
      <img src="https://via.placeholder.com/275" alt="melissa">
      <ul class="aboutUsTextList">
        <li class="aboutUsTextListItem name">Melissa Stock</li>
        <li class="aboutUsTextListItem bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
        <li class="aboutUsTextListItem favBar"><a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>Favorite Bar</a></li>
      </ul>
    </div>

    <div class="aboutMe evan">
      <img src="https://via.placeholder.com/275" alt="evan">
      <ul class="aboutUsTextList">
        <li class="aboutUsTextListItem name">Evan Pettie</li>
        <li class="aboutUsTextListItem bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
        <li class="aboutUsTextListItem favBar"><a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>Favorite Bar</a></li>
      </ul>
    </div>

    <div class="aboutMe williams">
      <img src="https://via.placeholder.com/275" alt="williams">
      <ul class="aboutUsTextList">
        <li class="aboutUsTextListItem name">Williams Argenal</li>
        <li class="aboutUsTextListItem bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
        <li class="aboutUsTextListItem favBar"><a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>Favorite Bar</a></li>
      </ul>
    </div>

    <div class="aboutMe kris">
      <img src="https://via.placeholder.com/275" alt="kris">
      <ul class="aboutUsTextList">
        <li class="aboutUsTextListItem name">Krisjanis Cerbulis</li>
        <li class="aboutUsTextListItem bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
        <li class="aboutUsTextListItem favBar"><a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>Favorite Bar</a></li>
      </ul>
    </div>

  </body>
</html>
