<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>



    <h1>This is the Index page</h1>

    <div class="aboutUsContainer">
      <a href="/about_us">About Us</a>
    </div>


  </body>
</html>
=======
<%- include('layout/head.ejs') %>

<body>
  <h1>Happiest of Hours</h1>
  <div class="container">
    <form action="/happyhour" method="GET">
      <input type="text" name="userInput" placeholder="Search...">
      <input type="submit">
    </form>
    <div class="search"></div>
  </div>
</body>
>>>>>>> dd48fafe93c8a7e9de1a6f9d1f7bca7f4f676c87
