<%- include('layout/head.ejs') %>

<body>
  <h1>Happy Ours</h1>
  <h4>Happy Looks Good On You</h4>
    <form action="/happyhour" method="GET">
      <div class="search-box">
          <input type="text" name="userInput" placeholder="Search Your Location" class="search-txt">
          <a href="" class="search-btn">
                  <i class="fas fa-search"></i>
          </a>
      </div>
    </form>
</body>
<footer><a href="/about_us">About Us</a></footer>
