<%- include('layout/head.ejs') %>

<body>
  <h1>Happiest of Hours</h1>
  <div class="container">
    <form action="/happyhour" method="GET">
      <input type="text" name="userInput" placeholder="Search...">
      <input type="submit">
    </form>
    <div class="search"></div>
  </div>
</body>