<%- include('layout/head.ejs') %>

<body>
  <h1>Happy Ours</h1>
  <h4>Happy Looks Good On You</h4>
  <div class="container">
    <form action="/happyhour" method="GET">
      <input type="text" name="userInput" placeholder="Search Your Location">
      <input type="submit">
    </form>
    <div class="search"></div>
  </div>
  <div class="aboutUsContainer">
    <a href="/about_us">About Us</a>
  </div>
</body>
