/* _________________ Custom Fonts _____________________ */

@font-face { 
  font-family: 'Rockness'; src: url('../assets/Rockness.otf'); 
  font-family: 'Rockness'; src: url('../assets/Rockness.ttf');
}

@font-face {
  font-family: 'Dings'; src: url('../assets/Dings.ttf');
}

@font-face {
  font-family: 'Retrocycles'; src: url('../assets/Retrocycles.otf');
}

@font-face {
  font-family: 'Breathy'; src: url('../assets/SHOOTING.otf');
  font-family: 'Breathy'; src: url('../assets/SHOOTING.ttf');
}

@font-face {
  font-family: 'Beb'; src: url('../assets/Beb.otf');
  font-family: 'Beb'; src: url('../assets/Beb.ttf');
}

@font-face {
  font-family: 'Nadia'; src: url('../assets/Nadia.ttf');
} 

/* _____________________________________________________ */

body {
  background-size: 100%;
  background: url(../assets/bob.jpg) no-repeat;
}
