/* ================================================ */
/*---------------- About Us Styling---------------- */
/* ================================================ */


.meetTheTeam{
  margin-top: 15%;
}

.aboutUsTitle{
  font-size: 60px;
  margin-top: 3%;
  margin-left: 35%;
  font-family: sans-serif;
}

.aboutMe{
  background-color: aliceblue;
  margin-top: 8%;
  width: 96%;
  margin-left: 2%;
  height: 275px;
}

.aboutUsImg{
  float: left;
  width: 275px;
  height: 275px;
}

.aboutUsTextList{
  width: 59%;
  float: right;
  margin-right: 7%;
}

.name{
  font-weight: bold;
  font-size: 30px;
  height: 30px;
  line-height: 40px;
}

.bio{
  font-size: 22px;
  height: 220px;
  font-family: sans-serif;
}

.bio p{
  position: absolute;
  margin-top: 2%;
  width: 60%;
}

.favBar{
  margin-bottom: -10%;
  height: 10px;
}

.barLink{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 22px;
}


.favBar:hover{
  cursor: pointer;
}

.melissa{
  background-color: #88ade7;
}

.evan{
  background-color: #78c3e3;
}

.williams{
  background-color: #69dfde;
}

.kris{
  background-color: #5adbb4;
}

.ginger{
  background-color: #4bd783;
}

.aboutUsBackButton{
  width: 100px;
  height: 40px;
  line-height: 38px;
  border-radius: 10px;
  background-color: aqua;
  margin: 10px 0 15px 20px;
}

.aboutUsBackButton > a{
  text-decoration: none;
  color: inherit;
  margin-left: 20%;
}
